@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Fjalla+One|Montserrat&display=swap");

body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Fjalla One";
  text-align: center;
  text-transform: capitalize;
  color: #1d1d1d;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  padding: 50px;
}

.search-form {
  padding: 2.8rem 0;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.search-button {
  margin-left: 1rem;
  font-family: "Fjalla One";
  background-color: #1d1d1d;
  border: none;
  padding: 10px 25px;
  color: white;
  border-radius: 10px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.login {
  padding-top: 12rem;
  text-align: center;
  margin: 0 auto;
}

.login form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  max-width: 250px;
}

.control {
  margin: 0;
}

.reg-form form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  max-width: 250px;
}

.reg-form input,
.reg-form button {
  width: 100%;
}

.reg-form {
  padding-top: 12rem;
}

.reg-form button {
  padding: 0;
}

/* Start Navigation */
.header {
  font-family: "Fjalla One", sans-serif;
  background-color: #1d1d1d;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  display: inline-block;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #1d1d1d;
}

.header li a {
  font-family: "Fjalla One", sans-serif;
  font-weight: 100;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: white;
}

.header li a:hover {
  background-color: #1d1d1d;
  color: #f8cb15;
}

.header .logo {
  display: block;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  float: left;
}

.logo img {
  height: 5.5rem;
  width: auto;
}

/* Menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  padding-right: 10px;
}

/* Menu Icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 20px 20px 42px;
  position: relative;
  user-select: none;
  float: right;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 30px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
  margin-top: 1rem;
}

.header .menu-icon .navicon:after {
  top: -5px;
  margin-top: 0.96rem;
}

/* Menu Button */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 270px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header .logo {
    padding: 0 20px;
  }
  /* .header li a {
    Uncomment below when logo added
    padding: 30px;
  } */
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* End Navigation */
textarea {
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  line-height: 16px;
}
