@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Fjalla+One|Montserrat&display=swap");

body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Fjalla One";
  text-align: center;
  text-transform: capitalize;
}
.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  padding: 50px;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: gray;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
