/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Fjalla+One|Montserrat&display=swap");

/* Start General */
body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Fjalla One";
  text-align: center;
  text-transform: capitalize;
  color: #1d1d1d;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  padding: 50px 50px 125px;
}
/* End General */

/* Start Search */
.search-form {
  padding: 2.8rem 0 0;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.search-button {
  margin-left: 1rem;
  font-family: "Fjalla One";
  background-color: #1d1d1d;
  border: none;
  padding: 10px 25px;
  color: white;
  border-radius: 10px;
}
/* End Search */

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Start Login */
.login {
  padding-top: 8rem;
  text-align: center;
  margin: 0 auto;
}

.login form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  max-width: 250px;
}

.login input,
.login button {
  border: none;
  border-radius: 10px;
  height: 2.2rem;
  margin-top: 0.5rem;
  text-align: center;
  margin-top: 0.7rem;
  font-size: 0.75rem;
}

.login button {
  padding: 0;
  color: white;
  background-color: #1d1d1d;
  width: 100%;
  height: 2.4rem;
}

.control {
  margin: 0;
}
/* End Login */

/* End Fields */

/* Start Registration */
.reg-form form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  max-width: 250px;
}

.reg-form input,
.reg-form button {
  width: 100%;
  border-radius: 10px;
  height: 2.2rem;
  border: none;
  margin-top: 0.7rem;
  text-align: center;
  font-size: 0.75rem;
}

.reg-form {
  padding-top: 8rem;
}

.reg-form button {
  padding: 0;
  color: white;
  background-color: #1d1d1d;
  height: 2.6rem;
}
/* End Registration */

/* Start Navigation */
/* Header */
.header {
  font-family: "Fjalla One", sans-serif;
  background-color: #1d1d1d;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  display: inline-block;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #1d1d1d;
}

.header li a {
  font-family: "Fjalla One", sans-serif;
  font-weight: 100;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: white;
}

.header li a:hover {
  background-color: #1d1d1d;
  color: #f8cb15;
}
/* End Header */

/* Start Logo */
.header .logo {
  display: block;
  font-size: 2rem;
  padding: 10px;
  text-decoration: none;
  float: left;
}

.logo img {
  height: 3rem;
  padding-left: 0.5rem;
  width: auto;
}
/* End Logo */

/* Start Menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  padding-right: 10px;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 20px 20px 42px;
  position: relative;
  user-select: none;
  float: right;
}
/* End Menu */

/* Start Transitions */
.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 30px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
  margin-top: 1rem;
}

.header .menu-icon .navicon:after {
  top: -5px;
  margin-top: 0.96rem;
}
/* End Transition */

/* Start Menu Button */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 270px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/* End Menu Button */

/* Start Save Recipes */
.saveRecipe {
  display: flex;
  flex-direction: column;
  margin: 7rem auto 0;
  width: 80%;
  max-width: 500px;
}

.saveRecipe input,
.saveRecipe button {
  height: 2.2rem;
  border: none;
  margin-top: 0.7rem;
  text-align: left;
  font-size: 0.8rem;
  border-radius: 10px;
  padding-left: 10px;
}

.saveRecipe button {
  padding: 0;
  color: white;
  background-color: #1d1d1d;
  height: 2.6rem;
  text-align: center;
  width: 30%;
}

.addButton {
  margin-right: 1rem;
}
/* End Save Recipes */

/* Ingredients Text Box */
textarea {
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  border: solid 1px white;
  height: 14rem;
  background-color: white;
  margin-top: 0.7rem;
  font-size: 0.8rem;
  line-height: 16px;
  border-radius: 10px;
  padding-left: 35px;
  padding-top: 12.5px;
}
/* End Ingredients Text Box */

/* End Navigation */

/* Start List Recipes Styling */
.listRecipe {
  margin: 8rem auto 0;
}

.listOfRecipe {
  display: flex;
  flex: 1;
}

.recipeList {
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  width: 450px;
  padding: 30px 0;
}

.recipeList h2,
h4 {
  text-align: center;
  padding: 0 5px;
}

.recipeList li {
  width: 75%;
  margin: 0 auto;
}

.editButton {
  margin: 0 auto;
  font-family: "Fjalla One";
  background-color: #1d1d1d;
  border: none;
  padding: 10px 25px;
  color: white;
  border-radius: 10px;
}

/* Combined Styling Edit / Delete Buttons */
.buttons {
  display: flex;
  justify-content: center;
}

/* End List Recipes Styling */

/* Start Footer */
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 2.8rem;
  background-color: #1d1d1d;
  font-size: 0.9rem;
  color: white;
  right: 0;
  bottom: 0;
  left: 0;
}

footer img {
  width: 30px;
  padding-left: 0.5rem;
}
/* End Footer */

/* Start Media Queries */
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header .logo {
    padding: 20px;
  }
  .header li a {
    padding: 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  .search-form {
    margin: 3rem;
  }
}
/* End Media Queries */
/* End Navigation */
